In [1]:
import pandas as pd
import re
import numpy as np

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [9]:
df_orig = pd.read_csv("gaon/gaon_monthly_chart_until_2009.csv")
df_orig.head()

,title,singer,album,producer,distributor,year_month,is_popular,external_factors,num_times_top_10,num_times_top_5,num_times_top_1
0,#첫사랑,볼빨간사춘기,#첫사랑,"쇼파르뮤직, 딩고뮤직",카카오 M,201801-201802-201803,1,0,1,1,0
1,#화이트 스타일 (Feat. 김호연 of 달 좋은밤),키썸 (Kisum),Show Off,스케치,카카오 M,201507,0,0,0,0,0
2,%%(응응),에이핑크 (Apink),PERCENT,플레이엠엔터테인먼트,카카오 M,201901-201902,1,0,0,0,0
3,00_00 (Zero O`Clock),방탄소년단,MAP OF THE SOUL _ 7,빅히트 엔터테인먼트,Dreamus,202003-202004-202005,1,0,0,0,0
4,0330,유키스 (U-Kiss),Bran New Kiss (EP),NH EMG,카카오 M,201105,0,0,0,0,0

In [10]:
df = df_orig.copy()

In [11]:
df.dtypes

title               object
singer              object
album               object
producer            object
distributor         object
year_month          object
is_popular           int64
external_factors     int64
num_times_top_10     int64
num_times_top_5      int64
num_times_top_1      int64
dtype: object

In [12]:
df.shape

(3629, 11)

Los textos se ponen en minúscula.

In [13]:
def df_to_lowercase(df):
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].str.lower()

In [14]:
df_to_lowercase(df)

Se borran las canciones cuyos artistas sean internacionales

In [15]:
international_singers = ['new hope club, danna paola', 'dua lipa', 'david guetta & showtek', 'eye to eye', 'pharrell williams', 'justin hurwitz', 'r. kelly', 'etham', 'madonna', 'craig david', 'bad meets evil', 'josh gad', 'naomi scott', 'maia wilson', 'sweetbox', 'demi lovato', 'karina', 'sarah brightman', 'lauv', 'marshmello, anne-marie', 'arizona zervas', 'jonathan groff', 'anne hathaway', 'la la land cast', 'jessie j, ariana grande, nicki minaj', 'redfoo (lmfao)', 'ruel', 'idina menzel', 'chuckie & lmfao', 'david guetta', 'lauv, anne-marie', 'les miserables cast', 'cessyl orchestra', 'major lazer', 'billie eilish', 'carla bruni', 
                         'cast - frozen', 'samantha barks', 'mena massoud, naomi scott', 'flo rida', 'kristen bell, idina menzel, josh gad, jonathan groff, cast of frozen 2', 'jay-z & kanye west', 'lizzo', 'will.i.am', 'ed sheeran, justin bieber', 'justin bieber', 'ed sheeran', 'shawn mendes', 'jason derulo', 'shawn mendes, camila cabello', 'the beatles', 'kristen bell, santino fontana', 
 'sara bareilles', 'ellie goulding', 'conan gray', 'hozier', 'selena gomez', 'straight no chaser', 'troye sivan', 'daft punk', 'mark ronson', 'keala settle, the greatest showman ensemble', 'the chainsmokers', 'twin forks', 'ylvis', 'britney spears', 'fitz & the tantrums', 'evan rachel wood', 'rachael yamagata', 'caro emerald', 'katy perry', 'coldplay', 'mariah carey', 'ryan gosling & emma stone', 
                         'charlie puth', 'sia', 'eminem', 'adele', 'carly rae jepsen', 'anne-marie', 'imagine dragons', 'brian mcknight', 
                         'it`s', 'alicia keys', 'queen', 'jeremy zucker', 'lady gaga', 'tones and i', 'charlie puth, wiz khalifa', 
                         'camila cabello', 'taylor swift', 'avril lavigne', 'jeff bernat', 'bruno mars', 'will smith', 'jason mraz',
                        'sam smith', 'kristen bell', "michael jackson", 'justin timberlake', 'adam levine', 'keira knightley', 'maroon 5',
                        'kelly clarkson', 'zara larsson', 'lauv, troye sivan',
                         'marshmello & anne-marie', 'post malone & swae lee', 'yolanda be cool & dcup']
df = df[~df.singer.isin(international_singers)]
# Tras explorar los datos se ve como los siguientes artistas no hacen dúos con artistas coreanos
df = df[~df.singer.str.contains("justin bieber")]
df = df[~df.singer.str.contains("ariana grande")]
df = df[~df.singer.str.contains("chainsmokers")]
df = df[~df.singer.str.contains("idina menzel")]

In [16]:
df.shape

(3502, 11)

--------------------

## DBKpop tablas

Se importan los datos obtenidos de la página "DBKpop". Se visualizan algunos registros, se eliminan los duplicados y se introducen algunos artistas que no estaban pero que se encuentran en las canciones obtenidas de *Gaon*.

In [17]:
df_girl = pd.read_csv("dbkpop/all_k_pop_girlgroups.csv")
df_idols = pd.read_csv("dbkpop/all_k_pop_idols.csv")
df_boy = pd.read_csv("dbkpop/all_kpop_boybands.csv")

In [18]:
df_girl.head()

,profile,name,short,korean_name,debut,company,members,orig._memb.,fanclub_name,active
0,NaN,Girls' Generation,SNSD,소녀시대,2007-08-05,SM,5,9,SONE,Yes
1,NaN,KARA,NaN,카라,2007-03-29,DSP,4,5,Kamilia,No
2,NaN,2NE1,NaN,투애니원,2009-05-06,YG,4,4,Blackjack,No
3,Profile,T-ara,NaN,티아라,2009-07-29,MBK,4,6,QUEEN'S,Hiatus
4,Profile,SISTAR,NaN,씨스타,2010-03-06,Starship,4,4,STAR1,No

In [19]:
df_girl["gender"] = "girlgroup"
df_girl.drop_duplicates(keep='first', inplace=True)

Se añaden algunos grupos encontrados en las canciones pero no en las tablas.

In [20]:
df_boy.head()

,profile,name,short,korean_name,debut,company,members,orig._memb.,fanclub_name,active
0,NaN,BIGBANG,NaN,빅뱅,2006-08-19,YG,4,5,VIP,Yes
1,Profile,Super Junior,SJ,슈퍼주니어,2005-11-06,SM,11,12,ELF,Yes
2,NaN,TVXQ!,TVXQ,동방신기,2003-12-26,SM,2,5,Cassiopeia,Yes
3,NaN,SHINee,NaN,샤이니,2008-05-22,SM,4,5,Shawol,Yes
4,Profile,EXO,NaN,엑소,2012-04-08,SM,9,12,EXO-L,Yes

In [21]:
def add_boyband(df, name, short, korean_name):
    new_row = [np.nan]*df.shape[1]
    new_row[1] = name
    new_row[2] = short
    new_row[3] = korean_name
    df.loc[-1] = new_row # adding a row
    df.index = df.index + 1  # shifting index
    df = df.sort_index()

In [22]:
add_boyband(df_boy, name="gb9", short=None, korean_name="길구봉구")
add_boyband(df_boy, name="boys under the moon", short=None, korean_name="월하소년")

In [23]:
df_boy["gender"] = "boyband"

In [24]:
df_boy.head()

,profile,name,short,korean_name,debut,company,members,orig._memb.,fanclub_name,active,gender
2,NaN,BIGBANG,NaN,빅뱅,2006-08-19,YG,4.0,5.0,VIP,Yes,boyband
3,Profile,Super Junior,SJ,슈퍼주니어,2005-11-06,SM,11.0,12.0,ELF,Yes,boyband
4,NaN,TVXQ!,TVXQ,동방신기,2003-12-26,SM,2.0,5.0,Cassiopeia,Yes,boyband
5,NaN,SHINee,NaN,샤이니,2008-05-22,SM,4.0,5.0,Shawol,Yes,boyband
6,Profile,EXO,NaN,엑소,2012-04-08,SM,9.0,12.0,EXO-L,Yes,boyband

In [25]:
df_idols.head()

,profile,stage_name,full_name,korean_name,k._stage_name,date_of_birth,group,country,second_country,height,weight,birthplace,other_group,former_group,gender,position,instagram,twitter
0,Profile,Taeyeon,Kim Taeyeon,김태연,태연,1989-03-09,SNSD,South Korea,NaN,160,44,Jeonju,"TTS, Oh!GG",NaN,F,"Leader, Main Vocalist",taeyeon_ss,NaN
1,NaN,Sunny,Lee Sunkyu,이순규,써니,1989-05-15,SNSD,South Korea,NaN,158,43,California,NaN,NaN,F,NaN,svnnynight,NaN
2,NaN,Tiffany,Hwang Miyoung,황미영,티파니,1989-08-01,SNSD,South Korea,USA,163,50,San Francisco,TTS,NaN,F,NaN,xolovestephi,NaN
3,NaN,Hyoyeon,Kim Hyoyeon,김효연,효연,1989-09-22,SNSD,South Korea,NaN,158,48,Incheon,NaN,NaN,F,NaN,watasiwahyo,NaN
4,NaN,Yuri,Kwon Yuri,권유리,유리,1989-12-05,SNSD,South Korea,NaN,167,45,Goyang,NaN,NaN,F,NaN,yulyulk,NaN

In [26]:
def add_idol(df, stage_name, full_name, korean_name, k_stage_name, gender):
    new_row = [np.nan]*18
    new_row[3] = korean_name
    new_row[4] = k_stage_name
    new_row[1] = stage_name
    new_row[2] = full_name
    new_row[14] = gender
    df.loc[-1] = new_row # adding a row
    df.index = df.index + 1  # shifting index
    df = df.sort_index()

In [27]:
add_idol(df_idols, stage_name="gill", full_name="lee sang", korean_name="리쌍", k_stage_name="길", gender="m")
add_idol(df_idols, stage_name="40", full_name=None, korean_name="김한준", k_stage_name="포티", gender="m")
df_idols.drop_duplicates(keep='first', inplace=True)

Los textos se ponen en minúscula.

In [29]:
df_to_lowercase(df_girl)
df_to_lowercase(df_idols)
df_to_lowercase(df_boy)

--------------------------

## Explorar 'title', 'album' y 'singer'

In [30]:
import nltk
nltk.download('punkt')
  
from nltk import word_tokenize
from collections import Counter

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Paula\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [31]:
words = df['singer'].str.lower().str.cat(sep=' ')
word_tokens = word_tokenize(words)

word_counter = Counter(word_tokens)
print('{} different words'.format(len(word_counter)))
word_counter.most_common(538)

1461 different words

[('(', 1779),
 (')', 1779),
 (',', 403),
 ('아이유', 73),
 ('iu', 72),
 ('방탄소년단', 63),
 ('exo', 61),
 ('버스커', 56),
 ('busker', 56),
 ('다비치', 39),
 ('빅뱅', 38),
 ('one', 38),
 ('the', 38),
 ('악동뮤지션', 37),
 ('akmu', 37),
 ('&', 37),
 ('브라운', 36),
 ('아이드', 36),
 ('원', 36),
 ('소녀시대', 31),
 ('비스트', 30),
 ('허각', 30),
 ('태연', 29),
 ('beast', 29),
 ('백지영', 28),
 ('볼빨간사춘기', 27),
 ('10cm', 27),
 ('taeyeon', 27),
 ('샤이니', 26),
 ('shinee', 26),
 ('2am', 26),
 ('`', 26),
 ('케이윌', 26),
 ('k.will', 26),
 ('에일리', 25),
 ('다이나믹', 25),
 ('듀오', 25),
 ('2ne1', 25),
 ('dynamic', 24),
 ('duo', 24),
 ('티아라', 24),
 ('b', 24),
 ('포맨', 24),
 ('4men', 24),
 ('girl', 23),
 ('투애니', 23),
 ('x', 22),
 ('레드벨벳', 22),
 ('zico', 22),
 ('에픽하이', 22),
 ('거미', 22),
 ('에이핑크', 21),
 ('apink', 21),
 ('girls', 21),
 ('red', 21),
 ('velvet', 21),
 ('crush', 21),
 ('지코', 21),
 ('wan', 21),
 ('na', 21),
 ('워너원', 21),
 ('epik', 21),
 ('high', 21),
 ('mc몽', 21),
 ('크러쉬', 20),
 ('소울', 20),
 ('헤이즈', 20),
 ('리쌍', 20),
 ('씨스타', 20),
 ('지아', 20),
 ('zia', 20),
 ('eyed', 19),
 ('heize', 19),
 ('인피니트', 19),
 ('박효신', 19),
 ('ailee', 19),
 ('마마무', 18),
 ('mamamoo', 18),
 ('자이언티', 18),
 ('winner', 18),
 ('효린', 18),
 ('infinite', 18),
 ('걸스데이', 18),
 ('sistar', 18),
 ('더', 18),
 ('장범준', 18),
 ('zion.t', 17),
 ('싸이', 17),
 ('psy', 17),
 ('brown', 17),
 ('soul', 17),
 ('성시경', 17),
 ('t-ara', 17),
 ('san', 17),
 ('e', 17),
 ('day', 17),
 ('어반', 17),
 ('urban', 17),
 ('소유', 17),
 ('프라이머리', 16),
 ('a', 16),
 ('블락비', 16),
 ('백예린', 16),
 ('s', 16),
 ('자카파', 16),
 ('zakapa', 16),
 ('로이킴', 16),
 ('걸스', 16),
 ('원더걸스', 15),
 ('primary', 15),
 ('f', 15),
 ('서인국', 15),
 ('먼데이', 15),
 ('키즈', 15),
 ('monday', 15),
 ('kiz', 15),
 ('miss', 15),
 ('산이', 15),
 ('g-dragon', 15),
 ('린', 15),
 ('lyn', 15),
 ('cnblue', 15),
 ('윤하', 15),
 ('m.c', 15),
 ('max', 15),
 ('wonder', 14),
 ('포미닛', 14),
 ('ikon', 14),
 ('윤미래', 14),
 ('하하', 14),
 ('바이브', 14),
 ('백현', 14),
 ('block', 14),
 ('twice', 14),
 ('씨엔블루', 14),
 ('jint', 14),
 ('엠씨더맥스', 14),
 ('노을', 14),
 ('이하이', 13),
 ('투개월', 13),
 ('baekhyun', 13),
 ('4minute', 13),
 ('로꼬', 13),
 ('버벌진트', 13),
 ('verbal', 13),
 ('김나영', 13),
 ('임창정', 13),
 ('김범수', 13),
 ('권진아', 12),
 ('t', 12),
 ('top', 12),
 ('정엽', 12),
 ('vibe', 12),
 ('blackpink', 12),
 ('울랄라세션', 12),
 ('폴킴', 12),
 ('디셈버', 12),
 ('신용재', 12),
 ('정승환', 12),
 ('엠블랙', 11),
 ('박재범', 11),
 ('펀치', 11),
 ('punch', 11),
 ('기리보이', 11),
 ('boa', 11),
 ('가비엔제이', 11),
 ('aoa', 11),
 ('긱스', 11),
 ('geeks', 11),
 ('여자친구', 11),
 ('휘성', 11),
 ('매드', 11),
 ('클라운', 11),
 ('김동률', 11),
 ('배치기', 11),
 ('mblaq', 10),
 ('g.na', 10),
 ('세븐틴', 10),
 ('현아', 10),
 ('정은지', 10),
 ('$', 10),
 ('청하', 10),
 ('보아', 10),
 ('nct', 10),
 ('gfriend', 10),
 ('loco', 10),
 ('mad', 10),
 ('clown', 10),
 ('이승기', 10),
 ('에이트', 10),
 ('정준영', 10),
 ('m', 10),
 ('to', 10),
 ('벤', 9),
 ('선미', 9),
 ('지나', 9),
 ('hyuna', 9),
 ('super', 9),
 ('가인', 9),
 ('알리', 9),
 ('ali', 9),
 ('bewhy', 9),
 ('2pm', 9),
 ('gavy', 9),
 ('nj', 9),
 ('첸', 9),
 ('.', 9),
 ('사이먼', 9),
 ('임정희', 9),
 ('exid', 9),
 (':', 9),
 ('김태우', 9),
 ('xia', 9),
 ('준수', 9),
 ('시크릿', 9),
 ('secret', 9),
 ('태양', 9),
 ('바비', 9),
 ('december', 9),
 ('giriboy', 9),
 ('박정현', 9),
 ('ben', 8),
 ('스윙스', 8),
 ('swings', 8),
 ('슈퍼주니어', 8),
 ('비투비', 8),
 ('btob', 8),
 ('dj', 8),
 ('김예림', 8),
 ('창모', 8),
 ('빈지노', 8),
 ('beenzino', 8),
 ('mc', 8),
 ('넬', 8),
 ('nell', 8),
 ('수지', 8),
 ('chen', 8),
 ('simon', 8),
 ('써니힐', 8),
 ('토이', 8),
 ('toy', 8),
 ('ftisland', 8),
 ('혁오', 8),
 ('임재범', 8),
 ('민경훈', 8),
 ('bobby', 8),
 ('여자', 8),
 ('아이들', 8),
 ('애프터스쿨', 8),
 ('after', 8),
 ('school', 8),
 ('손승연', 8),
 ('유승우', 8),
 ('멜로망스', 8),
 ('melomance', 8),
 ('슈프림팀', 8),
 ('개리', 8),
 ('양다일', 8),
 ('god', 8),
 ('jung', 8),
 ('백아연', 8),
 ('투빅', 7),
 ('비', 7),
 ('rain', 7),
 ('junior', 7),
 ('gd', 7),
 ('오마이걸', 7),
 ('oh', 7),
 ('my', 7),
 ('비원에이포', 7),
 ('b1a4', 7),
 ('이효리', 7),
 ('서인영', 7),
 ('young', 7),
 ('카라', 7),
 ('kara', 7),
 ('개코', 7),
 ('아이오아이', 7),
 ('i.o.i', 7),
 ('유재석', 7),
 ('비와이', 7),
 ('127', 7),
 ('소녀시대-태티서', 7),
 ('generation-tts', 7),
 ('오렌지', 7),
 ('캬라멜', 7),
 ('orange', 7),
 ('caramel', 7),
 ('도미닉', 7),
 ('ft', 7),
 ('아일랜드', 7),
 ('hyukoh', 7),
 ('박지민', 7),
 ('15', 7),
 ('이정', 7),
 ('양요섭', 7),
 ('창민', 7),
 ('잔나비', 7),
 ('수호', 7),
 ('hwa', 7),
 ('씨야', 7),
 ('틴', 7),
 ('탑', 7),
 ('teen', 7),
 ('정인', 7),
 ('gary', 7),
 ('sg', 7),
 ('워너비', 7),
 ('이현', 7),
 ('박보람', 7),
 ('규현', 7),
 ('b.a.p', 6),
 ('2bic', 6),
 ('got7', 6),
 ('젝스키스', 6),
 ('타블로', 6),
 ('jyj', 6),
 ('김보경', 6),
 ('kid', 6),
 ('뉴이스트', 6),
 ('빅스', 6),
 ('vixx', 6),
 ('gray', 6),
 ('dominic', 6),
 ('ze', 6),
 ('정기고', 6),
 ('changmo', 6),
 ('나비', 6),
 ('navi', 6),
 ('suho', 6),
 ('이해리', 6),
 ('장재인', 6),
 ('윤도현', 6),
 ('박진영', 6),
 ('유브이', 6),
 ('uv', 6),
 ('kim', 6),
 ('환희', 6),
 ('김진표', 6),
 ('김필', 6),
 ('kyuhyun', 6),
 ('윤민수', 6),
 ('이소라', 6),
 ('v.o.s', 6),
 ('오반', 6),
 ('키썸', 5),
 ('dok2', 5),
 ('dal★shabet', 5),
 ('달샤벳', 5),
 ('ne-yo', 5),
 ('스나이퍼', 5),
 ('아웃사이더', 5),
 ('동방신기', 5),
 ('milli', 5),
 ('에디킴', 5),
 ('w', 5),
 ('승리', 5),
 ('지민', 5),
 ('그레이', 5),
 ('찬열', 5),
 ('sunny', 5),
 ('제국의아이들', 5),
 ('신화', 5),
 ('이승철', 5),
 ('soyou', 5),
 ('조권', 5),
 ('code', 5),
 ('ns', 5),
 ('yoon-g', 5),
 ('종현', 5),
 ('jonghyun', 5),
 ('보이프렌드', 5),
 ('범키', 5),
 ('김하온', 5),
 ('송민호', 5),
 ('웬디', 5),
 ('샘김', 5),
 ('김연우', 5),
 ('케이시', 5),
 ('kassy', 5),
 ('jp', 5),
 ('이적', 5),
 ('superbee', 5),
 ('엠투엠', 5),
 ('홍대광', 5),
 ('8eight', 5),
 ('supreme', 5),
 ('team', 5),
 ('이석훈', 5),
 ('빅마마', 5),
 ('어쿠스틱', 5),
 ('doc', 5),
 ('미스에스', 5),
 ('양파', 5),
 ('윤종신', 5),
 ('닐로', 5),
 ('nilo', 5),
 ('정용화', 5),
 ('김경호', 5),
 ('이영현', 5),
 ('황인욱', 5),
 ('유키스', 4),
 ('u-kiss', 4),
 ('화요비', 4),
 ('dean', 4),
 ('레인보우', 4),
 ('rainbow', 4),
 ('숙희', 4),
 ('유성은', 4),
 ('김현중', 4),
 ('김지수', 4),
 ('exo-cbx', 4),
 ('첸백시', 4),
 ('왁스', 4),
 ('wax', 4),
 ('강다니엘', 4),
 ('김수현', 4),
 ('iz', 4),
 ('*', 4),
 ('아이즈원', 4),
 ('존', 4),
 ('박', 4),
 ('라디', 4),
 ('ra', 4),
 ('d', 4),
 ('ph-1', 4),
 ('에릭남', 4),
 ('hill', 4),
 ('beyonce', 4),
 ('용감한', 4),
 ('녀석들', 4),
 ('itzy', 4),
 ('있지', 4),
 ('스피카', 4),
 ('코드', 4),
 ('코요태', 4),
 ('kyt', 4),
 ('김성규', 4),
 ('린다g', 4),
 ('boyfriend', 4),
 ('일렉트로보이즈', 4),
 ('sunnyhill', 4),
 ('나얼', 4),
 ('정준하', 4),
 ('박원', 4),
 ('haon', 4),
 ('스탠딩', 4),
 ('에그', 4),
 ('standing', 4),
 ('egg', 4),
 ('화사', 4),
 ('타이거', 4),
 ('밴드', 4),
 ('지연', 4),
 ('별', 4),
 ('용준형', 4),
 ('강승윤', 4),
 ('보이비', 4),
 ('씨잼', 4),
 ('킴', 4),
 ('장혜진', 4),
 ('나윤권', 4),
 ('유두래곤', 4),
 ('비룡', 4),
 ('장덕철', 4),
 ('조관우', 4),
 ('한동근', 4),
 ('플라이', 4),
 ('투', 4),
 ('스카이', 4),
 ('fly', 4),
 ('sky', 4),
 ('포스트맨', 4),
 ('마이티', 4),
 ('마우스', 4),
 ('mighty', 4),
 ('mouth', 4),
 ('김종국', 4),
 ('정키', 4),
 ('key', 4),
 ('윤건', 4),
 ('#', 4),
 ('임한별', 4),
 ('yong', 4),
 ('신승훈', 4),
 ('지누션', 4),
 ('팬텀', 4),
 ('phantom', 4),
 ('임영웅', 4),
 ('vinxen', 4),
 ('김재환', 4),
 ('ovan', 4),
 ('서영은', 4),
 ('kisum', 3),
 ('은지원', 3),
 ('도끼', 3),
 ('러블리즈', 3),
 ('alan', 3),
 ('walker', 3),
 ('염따', 3),
 ('모모랜드', 3),
 ('momoland', 3),
 ('스컬', 3),
 ('세븐', 3),
 ('black', 3),
 ('조용필', 3),
 ('신혜성', 3),
 ('양홍원', 3),
 ('길', 3),
 ('진운', 3),
 ('하이라이트', 3),
 ('highlight', 3),
 ('손담비', 3),
 ('치타', 3),
 ('usher', 3),
 ('음악대장', 3),
 ('달마시안', 3),
 ('휘인', 3),
 ('자우림', 3),
 ('paloalto', 3),
 ('quiett', 3),
 ('소진', 3),
 ('하동균', 3),
 ('chanyeol', 3),
 ('전효성', 3),
 ('美', 3),
 ('double', 3),
 ('k', 3),
 ('김조한', 3),
 ('아이언', 3),
 ('박명수', 3),
 ('spica', 3),
 ('레이디스', 3),
 ('ladies', 3),
 ('나몰라패밀리jw', 3),
 ('정동하', 3),
 ('no', 3),
 ('영비', 3)]

In [32]:
words = df['title'].str.lower().str.cat(sep=' ')
word_tokens = word_tokenize(words)

word_counter = Counter(word_tokens)
print('{} different words'.format(len(word_counter)))
word_counter.most_common(538)

4488 different words

[('(', 1272),
 (')', 1222),
 ('.', 647),
 ('feat', 545),
 (',', 136),
 ('love', 118),
 ('you', 108),
 ('i', 90),
 ('`', 84),
 ('of', 76),
 ('...', 64),
 ('me', 56),
 ('prod', 55),
 ('&', 53),
 ('my', 46),
 ('with', 45),
 ('the', 42),
 ('너', 37),
 ('by', 33),
 ('내', 33),
 ('u', 32),
 ('밤', 31),
 ('!', 31),
 ('a', 30),
 ('사랑', 29),
 ('it', 28),
 ('?', 27),
 ('사람', 27),
 ('t', 26),
 ('그', 26),
 ('baby', 25),
 ('날', 25),
 ('우리', 25),
 ('in', 24),
 ('day', 24),
 ('girl', 24),
 ('이', 24),
 ('ver', 23),
 ('사랑은', 23),
 ('수', 21),
 ('to', 20),
 ('up', 20),
 ('내가', 20),
 ('don', 19),
 ('나', 19),
 ('너를', 19),
 ('사랑이', 19),
 ('be', 18),
 ('is', 18),
 ('good', 18),
 ('boy', 18),
 ('s', 18),
 ('m', 17),
 ('니가', 17),
 ('one', 16),
 ('나의', 16),
 ('그대', 16),
 ('너에게', 16),
 ('너의', 16),
 ('왜', 16),
 ('for', 15),
 ('잘', 15),
 ('다시', 15),
 ('2', 14),
 ('go', 14),
 ('night', 14),
 ('beautiful', 14),
 ('버벌진트', 14),
 ('so', 14),
 ('널', 14),
 ('넌', 14),
 ('안녕', 14),
 ('또', 14),
 ('bad', 13),
 ('crush', 13),
 ('what', 13),
 ('사랑해', 13),
 ('노래', 13),
 ('_', 12),
 ('girls', 12),
 ('dream', 12),
 ('like', 12),
 ('no', 12),
 ('zion.t', 11),
 ('and', 11),
 ('on', 11),
 ('없는', 11),
 ('개코', 11),
 ('길', 11),
 ('이별', 11),
 ('나를', 11),
 ('더', 11),
 ('time', 10),
 ('do', 10),
 ('right', 10),
 ('박재범', 10),
 ('home', 10),
 ('song', 10),
 ('기리보이', 10),
 ('hello', 10),
 ('run', 10),
 ('이야기', 10),
 ('beenzino', 9),
 ('all', 9),
 ('back', 9),
 ('are', 9),
 ('away', 9),
 ('can', 9),
 ('know', 9),
 ('your', 9),
 ('oh', 9),
 ('돼', 9),
 ('난', 9),
 ('사랑하지', 9),
 ('말', 9),
 ('눈', 9),
 ('비가', 9),
 ('오늘', 9),
 ('첫', 9),
 ('없어', 8),
 ('용준형', 8),
 ('lady', 8),
 ('am', 8),
 ('remix', 8),
 ('goodbye', 8),
 ('lonely', 8),
 ('별', 8),
 ('zico', 8),
 ('she', 8),
 ('sweet', 8),
 ('talk', 8),
 ('duet', 8),
 ('다', 8),
 ('가슴이', 8),
 ('남자', 8),
 ('고백', 8),
 ('여자', 8),
 ('여름', 8),
 ('그대를', 8),
 ('봄', 8),
 ('사랑아', 8),
 ('아름다운', 8),
 ('해', 8),
 ('좋은', 8),
 ('사랑에', 8),
 ('미안해', 8),
 ('어떻게', 8),
 ('1', 7),
 ('new', 7),
 ('gray', 7),
 ('man', 7),
 ('그리고', 7),
 ('dok2', 7),
 ('/', 7),
 ('white', 7),
 ('got', 7),
 ('dance', 7),
 ('child', 7),
 ('high', 7),
 ('life', 7),
 ('hot', 7),
 ('heart', 7),
 ('아이유', 7),
 ('luv', 7),
 ('rain', 7),
 ('only', 7),
 ('stay', 7),
 ('e', 7),
 ('touch', 7),
 ('..', 7),
 ('운다', 7),
 ('같은', 7),
 ('바람이', 7),
 ('꿈', 7),
 ('사이', 7),
 ('그리워', 7),
 ('밤이', 7),
 ('싶다', 7),
 ('말아요', 7),
 ('나만', 7),
 ('일', 7),
 ('좋아', 7),
 ('편지', 7),
 ('두', 7),
 ('gaeko', 6),
 ('dj', 6),
 ('we', 6),
 ('blue', 6),
 ('moon', 6),
 ('groovyroom', 6),
 ('sorry', 6),
 ('눈물', 6),
 ('original', 6),
 ('범키', 6),
 ('bye', 6),
 ('stop', 6),
 ('bang', 6),
 ('young', 6),
 ('again', 6),
 ('thank', 6),
 ('star', 6),
 ('kiss', 6),
 ('mad', 6),
 ('진실', 6),
 ('soul', 6),
 ('summer', 6),
 ('that', 6),
 ('ll', 6),
 ('narr', 6),
 ('this', 6),
 ('la', 6),
 ('효린', 6),
 ('part', 6),
 ('story', 6),
 ('make', 6),
 ('missing', 6),
 ('red', 6),
 ('light', 6),
 ('solo', 6),
 ('yes', 6),
 ('tell', 6),
 ('why', 6),
 ('가끔', 6),
 ('이유', 6),
 ('싶어', 6),
 ('안', 6),
 ('개리', 6),
 ('한', 6),
 ('내게', 6),
 ('있어', 6),
 ('위해', 6),
 ('처음', 6),
 ('뭐해', 6),
 ('온다', 6),
 ('눈물이', 6),
 ('다른', 6),
 ('매일', 6),
 ('아니야', 6),
 ('#', 5),
 ('%', 5),
 ('sexy', 5),
 ('there', 5),
 ('dean', 5),
 ('빈지노', 5),
 ('miss', 5),
 ('cry', 5),
 ('because', 5),
 ('bounce', 5),
 ('out', 5),
 ('백지영', 5),
 ('see', 5),
 ('’', 5),
 ('g-dragon', 5),
 ('winter', 5),
 ('forever', 5),
 ('fly', 5),
 ('special', 5),
 ('fine', 5),
 ('flower', 5),
 ('우원재', 5),
 ('정인', 5),
 ('hate', 5),
 ('how', 5),
 ('if', 5),
 ('intro', 5),
 ('ya', 5),
 ('let', 5),
 ('little', 5),
 ('christmas', 5),
 ('겨울', 5),
 ('way', 5),
 ('not', 5),
 ('without', 5),
 ('outro', 5),
 ('오혁', 5),
 ('super', 5),
 ('say', 5),
 ('track', 5),
 ('san', 5),
 ('tok', 5),
 ('에일리', 5),
 ('who', 5),
 ('가까이', 5),
 ('안돼', 5),
 ('없이', 5),
 ('참', 5),
 ('그대라는', 5),
 ('그때', 5),
 ('그래', 5),
 ('꽃', 5),
 ('원곡가수', 5),
 ('좀', 5),
 ('하림', 5),
 ('사랑했던', 5),
 ('나쁜', 5),
 ('될', 5),
 ('행복한', 5),
 ('걸', 5),
 ('할', 5),
 ('못해', 5),
 ('너만', 5),
 ('너무', 5),
 ('사랑해서', 5),
 ('사랑한다', 5),
 ('니', 5),
 ('하루', 5),
 ('한사람', 5),
 ('못', 5),
 ('사랑의', 5),
 ('아프다', 5),
 ('지나면', 5),
 ('첫사랑', 4),
 ('angel', 4),
 ('비스트', 4),
 ('bts', 4),
 ('ost', 4),
 ('ah', 4),
 ('down', 4),
 ('here', 4),
 ('mino', 4),
 ('monster', 4),
 ('코드', 4),
 ('쿤스트', 4),
 ('d', 4),
 ('queen', 4),
 ('darling', 4),
 ('destiny', 4),
 ('음악대장', 4),
 ('first', 4),
 ('god', 4),
 ('happy', 4),
 ('이하이', 4),
 ('n', 4),
 ('hush', 4),
 ('magic', 4),
 ('need', 4),
 ('ice', 4),
 ('piano', 4),
 ('last', 4),
 ('lip', 4),
 ('백예린', 4),
 ('씨스타', 4),
 ('never', 4),
 ('shy', 4),
 ('please', 4),
 ('really', 4),
 ('태양', 4),
 ('something', 4),
 ('take', 4),
 ('at', 4),
 ('넉살', 4),
 ('가면', 4),
 ('된', 4),
 ('가슴', 4),
 ('살아', 4),
 ('말해', 4),
 ('안부', 4),
 ('봐', 4),
 ('가질', 4),
 ('마음', 4),
 ('속의', 4),
 ('같이', 4),
 ('보고싶어', 4),
 ('케이윌', 4),
 ('하는', 4),
 ('헤이즈', 4),
 ('곳에', 4),
 ('말야', 4),
 ('되어', 4),
 ('분다', 4),
 ('사랑하는', 4),
 ('그땐', 4),
 ('그런', 4),
 ('미쳐', 4),
 ('먼', 4),
 ('모든', 4),
 ('때문에', 4),
 ('나는', 4),
 ('나비', 4),
 ('않는', 4),
 ('잊지', 4),
 ('사랑해요', 4),
 ('나에게', 4),
 ('나와', 4),
 ('있을까', 4),
 ('부탁해', 4),
 ('목소리', 4),
 ('입술', 4),
 ('네가', 4),
 ('말해줘', 4),
 ('없다', 4),
 ('보고', 4),
 ('마지막', 4),
 ('순간', 4),
 ('집', 4),
 ('크리스마스', 4),
 ('않아', 4),
 ('줄', 4),
 ('오는', 4),
 ('바보', 4),
 ('별을', 4),
 ('봄날', 4),
 ('소나기', 4),
 ('예뻐', 4),
 ('오늘도', 4),
 ('우리가', 4),
 ('헤어진', 4),
 ('이게', 4),
 ('이젠', 4),
 ('회상', 4),
 ('f', 3),
 ('최자', 3),
 ('world', 3),
 ('yeah', 3),
 ('airplane', 3),
 ('always', 3),
 ('k', 3),
 ('hoody', 3),
 ('loco', 3),
 ('simon', 3),
 ('myself', 3),
 ('big', 3),
 ('fall', 3),
 ('swings', 3),
 ('권정열', 3),
 ('together', 3),
 ('black', 3),
 ('kim', 3),
 ('blah', 3),
 ('mind', 3),
 ('boogie', 3),
 ('boom', 3),
 ('break', 3),
 ('bubble', 3),
 ('pop', 3),
 ('burn', 3),
 ('call', 3),
 ('come', 3),
 ('daddy', 3),
 ('devil', 3),
 ('everyday', 3),
 ('e-sens', 3),
 ('supreme', 3),
 ('falling', 3),
 ('girlfriend', 3),
 ('jvcki', 3),
 ('wai', 3),
 ('get', 3),
 ('x', 3),
 ('gone', 3),
 ('팔로알토', 3),
 ('luck', 3),
 ('sun', 3),
 ('gravity', 3),
 ('her', 3),
 ('hip', 3),
 ('hands', 3),
 ('full', 3),
 ('hey', 3),
 ('shot', 3),
 ('venus', 3),
 ('hope', 3),
 ('remember', 3),
 ('want', 3),
 ('돈', 3),
 ('shadow', 3),
 ('over', 3),
 ('jump', 3),
 ('just', 3),
 ('knock', 3),
 ('윤미래', 3),
 ('태연', 3),
 ('lost', 3),
 ('alone', 3),
 ('윤하', 3),
 ('or', 3),
 ('lucky', 3),
 ('하동균', 3),
 ('drop', 3),
 ('more', 3),
 ('ma', 3),
 ('korean', 3),
 ('paradise', 3),
 ('nu', 3),
 ('officially', 3),
 ('too', 3),
 ('박봄', 3),
 ('party', 3),
 ('power', 3),
 ('poison', 3),
 ('now', 3),
 ('ring', 3),
 ('sugar', 3),
 ('소녀시대', 3),
 ('shake', 3),
 ('-', 3),
 ('siren', 3),
 ('secret', 3),
 ('radio', 3),
 ('show', 3),
 ('유희열', 3),
 ('bumkey', 3),
 ('비', 3),
 ('top', 3),
 ('trivia', 3),
 ('p', 3),
 ('ta', 3),
 ('게', 3),
 ('가을', 3),
 ('가지마', 3),
 ('그랬어', 3),
 ('시간', 3),
 ('살자', 3),
 ('거짓말', 3),
 ('그대여', 3),
 ('스윙스', 3),
 ('air', 3),
 ('괜찮아', 3),
 ('노래를', 3),
 ('싫다', 3),
 ('만나', 3),
 ('그녀가', 3),
 ('그대가', 3),
 ('세상', 3),
 ('건', 3),
 ('떠올라', 3),
 ('그때의', 3),
 ('그렇게', 3),
 ('하나', 3),
 ('슈프림팀', 3),
 ('가', 3),
 ('그대에게', 3),
 ('오면', 3),
 ('한번', 3),
 ('봄이', 3),
 ('조용필', 3),
 ('꿈에', 3),
 ('끝', 3)]

In [33]:
words = df['album'].str.lower().str.cat(sep=' ')
word_tokens = word_tokenize(words)

word_counter = Counter(word_tokens)
print('{} different words'.format(len(word_counter)))
word_counter.most_common(538)

3093 different words

[('`', 571),
 ('part', 413),
 ('ost', 413),
 ('(', 361),
 ('the', 354),
 (')', 339),
 ('album', 269),
 ('-', 195),
 ('2', 154),
 ('1', 150),
 ('love', 116),
 ('mini', 110),
 ('4', 79),
 ('3', 73),
 ('1st', 70),
 ('.', 69),
 ('...', 68),
 ('1집', 68),
 ('you', 68),
 ('5', 67),
 ('of', 66),
 ('single', 66),
 (',', 61),
 ('me', 56),
 ('2nd', 55),
 ('a', 55),
 ('i', 55),
 ('가수다', 50),
 ('_', 48),
 ('ep', 48),
 ('나는', 47),
 ('s', 45),
 ('digital', 44),
 ('to', 43),
 ('episode', 43),
 ('경연', 42),
 ('soul', 41),
 ('&', 41),
 ('쇼미더머니', 40),
 ('3rd', 39),
 ('special', 38),
 ('#', 37),
 ('top', 37),
 ('6', 37),
 ('4th', 35),
 ('up', 34),
 ('2집', 34),
 ('my', 33),
 ('무한도전', 33),
 ('in', 32),
 ('new', 30),
 ('!', 29),
 ('11', 29),
 ('7', 27),
 ('for', 26),
 ('red', 26),
 ('it', 26),
 ('4집', 26),
 ('버스커', 26),
 ('first', 25),
 ('5th', 24),
 ('yourself', 24),
 ('가요제', 24),
 ('k팝', 23),
 ('스타', 23),
 ('5집', 23),
 ('6th', 23),
 ('?', 23),
 ('8', 23),
 ('t', 22),
 ('one', 21),
 ('겨울', 20),
 ('x', 20),
 ('is', 20),
 ('day', 19),
 ('story', 19),
 ('summer', 19),
 ('스페셜', 18),
 ('앨범', 18),
 ('and', 18),
 ('repackage', 18),
 ('미니앨범', 18),
 ('map', 17),
 ('노래', 17),
 ('응답하라', 16),
 ('girl', 16),
 ('on', 16),
 ('boys', 16),
 ('내', 16),
 ('miss', 16),
 ('장범준', 16),
 ('사랑', 16),
 ('don', 15),
 ('sbs', 15),
 ('world', 15),
 ('back', 15),
 ('슈퍼스타k3', 15),
 ('or', 15),
 ('we', 14),
 ('all', 14),
 ('be', 14),
 ('도깨비', 14),
 ('빅뱅', 14),
 ('7집', 14),
 ('track', 14),
 ('3집', 14),
 ('너', 14),
 ('time', 13),
 ('pink', 13),
 ('호텔', 13),
 ('m', 13),
 ('good', 13),
 ('am', 13),
 ('project', 13),
 ('shinee', 13),
 ('final', 13),
 ('’', 13),
 ('heart', 13),
 ('추천곡', 13),
 ('welcome', 12),
 ('voice', 12),
 ('델루나', 12),
 ('alive', 12),
 ('언프리티', 12),
 ('랩스타', 12),
 ('boy', 12),
 ('diary', 12),
 ('star', 12),
 ('dream', 12),
 ('part.3', 12),
 ('프로젝트', 12),
 ('top12', 12),
 ('내가', 12),
 ('부르기', 12),
 ('tear', 11),
 ('produce', 11),
 ('part.2', 11),
 ('part.1', 11),
 ('2ne1', 11),
 ('crush', 11),
 ('드림하이', 11),
 ('party', 11),
 ('시즌2', 11),
 ('edition', 11),
 ('chapter', 11),
 ('시크릿', 11),
 ('diss', 11),
 ('또', 11),
 ('轉', 10),
 ('play', 10),
 ('101', 10),
 ('girls', 10),
 ('last', 10),
 ('태양의', 10),
 ('후예', 10),
 ('again', 10),
 ('her', 10),
 ('복면가왕', 10),
 ('fly', 10),
 ('항해', 10),
 ('괜찮아', 10),
 ('something', 10),
 ('가든', 10),
 ('full', 10),
 ('season', 10),
 ('그', 10),
 ('우리', 10),
 ('concepts', 9),
 ('fantasy', 9),
 ('밤', 9),
 ('real', 9),
 ('wonder', 9),
 ('조영수', 9),
 ('777', 9),
 ('‘', 9),
 ('by', 9),
 ('neo', 9),
 ('2014', 9),
 ('war', 9),
 ('자유로', 9),
 ('made', 9),
 ('da', 9),
 ('your', 9),
 ('슬기로운', 9),
 ('의사생활', 9),
 ('times', 9),
 ('2012', 9),
 ('싶은', 9),
 ('버스커버스커', 9),
 ('1988', 9),
 ('정규', 9),
 ('명곡', 9),
 ('서해안', 9),
 ('고속도로', 9),
 ('mess', 8),
 ('tempo', 8),
 ('6집', 8),
 ('step', 8),
 ('u', 8),
 ('wings', 8),
 ('結', 8),
 ('answer', 8),
 ('blue', 8),
 ('oh', 8),
 ('light', 8),
 ('without', 8),
 ('d', 8),
 ('browneyed', 8),
 ('best', 8),
 ('away', 8),
 ('color', 8),
 ('planet', 8),
 ('this', 8),
 ('vol.1', 8),
 ('life', 8),
 ('let', 8),
 ('talk', 8),
 ('capo', 8),
 ('done', 8),
 ('like', 8),
 ('modern', 8),
 ('그대', 8),
 ('power', 8),
 ('run', 8),
 ('꽃갈피', 8),
 ('슈퍼스타k4', 8),
 ('내일은', 8),
 ('미스터트롯', 8),
 ('최고의', 8),
 ('넌', 8),
 ('나의', 8),
 ('다시', 8),
 ('위대한', 8),
 ('kiss', 7),
 ('moon', 7),
 ('go', 7),
 ('asura', 7),
 ('balbalta', 7),
 ('gd', 7),
 ('정규앨범', 7),
 ('us', 7),
 ('쇼미더머니3', 7),
 ('신발장', 7),
 ('numbers', 7),
 ('black', 7),
 ('1-1=0', 7),
 ('nothing', 7),
 ('beautiful', 7),
 ('white', 7),
 ('hello', 7),
 ('break', 7),
 ('two', 7),
 ('delight', 7),
 ('can', 7),
 ('stop', 7),
 ('nct', 7),
 ('127', 7),
 ('zone', 7),
 ('신', 7),
 ('still', 7),
 ('young', 7),
 ('사랑의', 7),
 ('square', 7),
 ('2015', 7),
 ('secret', 7),
 ('ve', 7),
 ('wonderful', 7),
 ('return', 7),
 ('night', 7),
 ('10', 7),
 ('8th', 7),
 ('sweet', 7),
 ('[', 7),
 (']', 7),
 ('our', 7),
 ('고등래퍼2', 7),
 ('이야기', 7),
 ('별에서', 7),
 ('온', 7),
 ('no', 7),
 ('what', 7),
 ('함부로', 7),
 ('애틋하게', 7),
 ('사춘기', 7),
 ('思春記', 7),
 ('she', 7),
 ('처음', 7),
 ('이', 7),
 ('사랑에', 7),
 ('남자', 7),
 ('슈퍼스타k2', 7),
 ('날', 7),
 ('꽃', 7),
 ('서', 7),
 ('불후의', 7),
 ('전설을', 7),
 ('노래하다', 7),
 ('니가', 7),
 ('너의', 7),
 ('35', 6),
 ('primary', 6),
 ('messengers', 6),
 ('with', 6),
 ('7th', 6),
 ('fall', 6),
 ('lucky', 6),
 ('obsession', 6),
 ('kind', 6),
 ('lights', 6),
 ('承', 6),
 ('쿠데타', 6),
 ('coup', 6),
 ('etat', 6),
 ('화양연화', 6),
 ('anyone', 6),
 ('sherlock', 6),
 ('semi', 6),
 ('got', 6),
 ('who', 6),
 ('destiny', 6),
 ('s/s', 6),
 ('persona', 6),
 ('신사의', 6),
 ('품격', 6),
 ('2017', 6),
 ('불시착', 6),
 ('사랑이야', 6),
 ('about', 6),
 ('sing', 6),
 ('grand', 6),
 ('home', 6),
 ('청중', 6),
 ('평가단', 6),
 ('brown', 6),
 ('eyed', 6),
 ('code', 6),
 ('영동고속도로', 6),
 ('바람', 6),
 ('thank', 6),
 ('alone', 6),
 ('팀대항전', 6),
 ('act', 6),
 ('letter', 6),
 ('why', 6),
 ('only', 6),
 ('part.4', 6),
 ('music', 6),
 ('chat-shire', 6),
 ('이태원', 6),
 ('미스터', 6),
 ('so', 6),
 ('바람이', 6),
 ('part.7', 6),
 ('yes', 6),
 ('투유', 6),
 ('ballad', 6),
 ('수', 6),
 ('unplugged', 6),
 ('part.6', 6),
 ('봄', 6),
 ('great', 6),
 ('사랑해', 6),
 ('구가의', 6),
 ('그녀', 6),
 ('channel', 6),
 ('vibe', 6),
 ('시즌4', 6),
 ('유산', 6),
 ('anniversary', 6),
 ('안녕', 6),
 ('little', 5),
 ('second', 5),
 ('sky', 5),
 ('싸이6甲', 5),
 ('man', 5),
 ('feel', 5),
 ('e', 5),
 ('exodus', 5),
 ('baby', 5),
 ('hug', 5),
 ('shock', 5),
 ('나', 5),
 ('page.1', 5),
 ('poem', 5),
 ('slip', 5),
 ('deluxe', 5),
 ('venus', 5),
 ('boa', 5),
 ('bigbang', 5),
 ('universe', 5),
 ('fine', 5),
 ('goodbye', 5),
 ('hot', 5),
 ('ver', 5),
 ('that', 5),
 ('dance', 5),
 ('gift', 5),
 ('from', 5),
 ('연애의', 5),
 ('remix', 5),
 (';', 5),
 ('lonely', 5),
 ('repackag', 5),
 ('true', 5),
 ('luv', 5),
 ('주군의', 5),
 ('태양', 5),
 ('christmas', 5),
 ('odd', 5),
 ('별', 5),
 ('상속자들', 5),
 ('슈퍼스타k', 5),
 ('make', 5),
 ('자화상', 5),
 ('학교', 5),
 ('3-2', 5),
 ('네티즌', 5),
 ('클라쓰', 5),
 ('take', 5),
 ('분다', 5),
 ('artist', 5),
 ('그녀는', 5),
 ('나쁜남자', 5),
 ('가슴이', 5),
 ('개인의', 5),
 ('취향', 5),
 ('둘', 5),
 ('슈가맨', 5),
 ('1994', 5),
 ('베스트', 5),
 ('동행', 5),
 ('구르미', 5),
 ('그린', 5),
 ('달빛', 5),
 ('여름', 5),
 ('4-1', 5),
 ('좋아하는', 5),
 ('뮤지션의', 5),
 ('곡', 5),
 ('전설', 5),
 ('그리고', 5),
 ('sound', 5),
 ('flower', 5),
 ('두', 5),
 ('풍류', 5),
 ('digilog', 5),
 ('잘', 5),
 ('spring', 5),
 ('왜', 5),
 ('부르고', 5),
 ('비가', 5),
 ('사랑이', 5),
 ('palette', 5),
 ('show', 4),
 ('giant', 4),
 ('시즌3', 4),
 ('rain', 4),
 ('lp', 4),
 ('simple', 4),
 ('there', 4),
 ('프로듀사', 4),
 ('mind', 4),
 ('just', 4),
 ('winter', 4),
 ('bad', 4),
 ('reality', 4),
 ('dreamer', 4),
 ('bounce', 4),
 ('beginning', 4),
 ('down', 4),
 ('h-logic', 4),
 ('pop', 4),
 ('hey', 4),
 ('mama', 4),
 ('칠집싸이다', 4),
 ('luck', 4),
 ('hurricane', 4),
 ('devil', 4),
 ('공부의', 4),
 ('collection', 4),
 ('2016', 4),
 ('give', 4),
 ('happy', 4),
 ('together', 4),
 ('basic', 4),
 ('6-2', 4),
 ('psy', 4),
 ('4x2=8', 4),
 ('못', 4),
 ('solar', 4),
 ('z', 4),
 ('pretty', 4),
 ('song', 4),
 ('box', 4),
 ('vs', 4),
 ('싱글', 4),
 ('right', 4),
 ('classic', 4),
 ('seventeen', 4),
 ('피노키오', 4),
 ('cube', 4),
 ('shot', 4),
 ('..', 4),
 ('blooming', 4),
 ('ex', 4),
 ('2010', 4),
 ('every', 4),
 ('sent', 4),
 ('thanks', 4),
 ('사춘기집ⅰ', 4),
 ('꽃기운', 4),
 ('midnight', 4),
 ('당신이', 4),
 ('not', 4),
 ('live', 4),
 ('seoulite', 4),
 ('20', 4),
 ('상', 4),
 ('上', 4),
 ('후아유', 4),
 ('션샤인', 4),
 ('free', 4),
 ('high', 4),
 ('touch', 4),
 ('1.0', 4),
 ('five', 4),
 ('w', 4),
 ('sm', 4),
 ('dingo', 4),
 ('vol.2', 4),
 ('그대에게', 4),
 ('예뻤다', 4),
 ('가끔', 4),
 ('봐', 4),
 ('없어', 4),
 ('시간', 4),
 ('dynamic', 4),
 ('널', 4)]

## Limpiar los nombres de artistas

### Múltiples artistas

In [34]:
df_feat = df[df.title.str.contains("feat")]
is_collab_index = df_feat.index
df_multiple_artist = df[df.singer.str.contains(r"(,|\s&\s)")]
is_collab_index = is_collab_index.union(df_multiple_artist.index)
df["is_collab"] = False
df.loc[is_collab_index, "is_collab"] = True

C:\Users\Paula\Anaconda3\envs\deeplearning\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Se planea utilizar el API de Spotify para conseguir la información pertinente de las canciones. A veces cuando se busca el nombre coreano en Spotify no se muestran resultados. Esto empeora cuando una canción tiene varios artistas. El objetivo será con la ayuda de DBkpop conseguir traducir los nombres coreanos a nombres en inglés o romanizados.

Para limpiar el campo `singer` se va a crear un dataframe para traducir el campo original con múltiples artistas a un campo con un solo artista.

In [35]:
a = df_multiple_artist[["singer"]].copy()
a.head(3)

                              singer
49               방탄소년단, zara larsson
52                  스윙스(swings), 에일리
57  다이나믹 듀오(dynamic duo), dj premier

El campo `singer` se separa mediante comas y se borran los valores que contengan nombres de artistas internacionales.

In [36]:
b = a.singer.str.split(r"\,", expand=True)[[0, 1, 2]]
b["original"] = a.singer
a = b
a[0] = a[0].str.strip()
a[1] = a[1].str.strip()
a[2] = a[2].str.strip()
a.drop_duplicates(keep='first', inplace=True)
a.loc[a[0].isin(international_singers), 0] = None
a.loc[a[1].isin(international_singers), 1] = None

In [37]:
a.head()

                       0           1     2                          original
49                 방탄소년단        None  None               방탄소년단, zara larsson
52           스윙스(swings)         에일리  None                  스윙스(swings), 에일리
57  다이나믹 듀오(dynamic duo)  dj premier  None  다이나믹 듀오(dynamic duo), dj premier
59         마마무 (mamamoo)  에스나 (esna)  None         마마무 (mamamoo), 에스나 (esna)
70                   정은지         서인국  None                          정은지, 서인국

El nuevo campo se llamará `new`. Algunos valores indican la presencia de múltiples artistas mediante el símbolo *&*. El nuevo valor será la primera parte de la coma siempre y cuando no tenga "&".

In [39]:
a["new"] = None
a["new"] = a[~a[0].isnull() & a[0].str.contains("&") == False][0]

Se exploran los valores que sí cuentan con el signo "&" y se encuentran casos especiales que se tratarán de forma manual.

In [40]:
a[~a[0].isnull() & a[0].str.contains("&")][0].unique()

array(['mc 몽 & 서인영', '이기찬 & g.na', 'g.a.b (길 & boa)', '15& (박지민',
       '택연 & 닉쿤', '하우두유둘 (유재석 & 유희열)', '슈프림팀 & 영준 (브라운아이드소울)',
       '이승기 & 김연아', '다이나믹 듀오 (dynamic duo) & 첸 (chen)', '타우 & 하하',
       '김범수 & 태연', '택연 & 우영 & 수지 & 김수현 & joo', '손승연 & 더 원 (the one)',
       '환희 & 숙희', 'f(x) (루나 & 크리스탈)', '병살 (정준하 & 김c)', '마이티마우스 & 백지영',
       '세븐티핑거스 (하하 & 장기하와 얼굴들)', '장미하관 (노홍철 & 장미여관)',
       '형용돈죵 (정형돈 & g-dragon)', '씨잼(cjamm) & 레디(reddy)'], dtype=object)

Se reemplazan algunos valores:

In [41]:
replace = {
           "15& (박지민": "15&", 
        'f(x) (루나 & 크리스탈)': 'f(x)',
        '다이나믹 듀오 (dynamic duo) & 첸 (chen)': '다이나믹 듀오(dynamic duo)',
        '씨잼(cjamm) & 레디(reddy)': 'cjamm'
          }
a.loc[~a[0].isnull(),"new"] = a[0].map(replace)

Se listan los valores con "&" después de haber cambiado algunos en la celda anterior. En estos valores se observa un patrón que se aprovecha mediante una expresión `regex` para quedarse con uno de los artistas.

Ejemplos:

- mc 몽 <span style="color: red">& 서인영</span>  ->  mc 몽 
- g.a.b <span style="color: red">(길 & boa)</span>  -> g.a.b

In [42]:
a[~a[0].isnull() & a[0].str.contains("&") & a['new'].isnull()][0].unique()

array(['mc 몽 & 서인영', '이기찬 & g.na', 'g.a.b (길 & boa)', '택연 & 닉쿤',
       '하우두유둘 (유재석 & 유희열)', '슈프림팀 & 영준 (브라운아이드소울)', '이승기 & 김연아',
       '타우 & 하하', '김범수 & 태연', '택연 & 우영 & 수지 & 김수현 & joo',
       '손승연 & 더 원 (the one)', '환희 & 숙희', '병살 (정준하 & 김c)', '마이티마우스 & 백지영',
       '세븐티핑거스 (하하 & 장기하와 얼굴들)', '장미하관 (노홍철 & 장미여관)',
       '형용돈죵 (정형돈 & g-dragon)'], dtype=object)

In [43]:
a.loc[~a[0].isnull() & a[0].str.contains("&") & a['new'].isnull(), "new"] = a[~a[0].isnull() & a[0].str.contains("&") & a['new'].isnull()][0].str.replace(r'(\(.+)?(&.+)*', '').str.strip()

Todavía quedan filas en `new` que están vacías, por lo que se sigue con el proceso.

In [44]:
a[a["new"].isnull()]

,0,1,2,original,new
49,방탄소년단,None,None,"방탄소년단, zara larsson",NaN
52,스윙스(swings),에일리,None,"스윙스(swings), 에일리",NaN
57,다이나믹 듀오(dynamic duo),dj premier,None,"다이나믹 듀오(dynamic duo), dj premier",NaN
59,마마무 (mamamoo),에스나 (esna),None,"마마무 (mamamoo), 에스나 (esna)",NaN
70,정은지,서인국,None,"정은지, 서인국",NaN
...,...,...,...,...,...
3473,김효은,차붐,ek,"김효은, 차붐, ek",NaN
3512,케이윌 (k.will),소유,정민,"케이윌 (k.will), 소유, 정민",NaN
3562,케이윌 (k.will),전우성 (노을),None,"케이윌 (k.will), 전우성 (노을)",NaN
3575,김나영,양다일,None,"김나영, 양다일",NaN
3611,김희철,민경훈,None,"김희철, 민경훈",NaN

Los valores que sean como `primer nombre & otros valores` se habrán convertido en `primer nombre`. El resto de valores se asignan tal cual al saber que son un solo artista.

In [45]:
a.loc[a["new"].isnull(), "new"] = a[0]

Se comprueba que valores quedan de asignar a `new` y solo es uno. Esto ha ocurrido porque *Dua Lipa* es una cantante estadounidense, por lo que se ha eliminado previamente, dejando el campo vacío.

In [46]:
a[a["new"].isnull()]

        0           1     2              original   new
855  None  화사(hwa sa)  None  dua lipa, 화사(hwa sa)  None

Si el campo `new` está vacío, el campo `0` está vacío y el campo `1` no lo está, el valor nuevo será el valor del campo `1`.

In [47]:
a.loc[a["new"].isnull() & a[0].isnull() & ~a[1].isnull(), "new"] = a[1]

No hay ningún campo que quede por limpiar.

In [48]:
a[a["new"].isnull()]

Empty DataFrame
Columns: [0, 1, 2, original, new]
Index: []

El *dataset* con las traducciones finales para los artistas:

In [49]:
collaboration_mapping = a[["original", "new"]]
collaboration_mapping.head(5)

                            original                   new
49               방탄소년단, zara larsson                 방탄소년단
52                  스윙스(swings), 에일리           스윙스(swings)
57  다이나믹 듀오(dynamic duo), dj premier  다이나믹 듀오(dynamic duo)
59         마마무 (mamamoo), 에스나 (esna)         마마무 (mamamoo)
70                          정은지, 서인국                   정은지

### Artista único

Ya tenemos las traducciones para convertir múltiples artistas en uno solo, ahora se intentará traducir y limpiar cada nombre.

Se borran los duplicados de los nombres de los artistas.

In [50]:
a = df.index.difference(df_multiple_artist.index)
a = df.loc[a]
a = a[["singer"]].copy()
a.drop_duplicates(keep='first', inplace=True)
a

                singer
0               볼빨간사춘기
1           키썸 (kisum)
2         에이핑크 (apink)
3                방탄소년단
4         유키스 (u-kiss)
...                ...
3571  제아파이브(ze:a five)
3582               소찬휘
3585       보이비 (boi b)
3620     c-clown(씨클라운)
3622                철싸

[789 rows x 1 columns]

Se concatenan las listas de artistas que se tienen.

In [51]:
collaboration = collaboration_mapping.rename(columns={"new": "singer"})
a = pd.concat([collaboration[['singer']], a]).copy()
a.drop_duplicates(keep='first', inplace=True)
a.head(3)

                  singer
49                 방탄소년단
52           스윙스(swings)
57  다이나믹 듀오(dynamic duo)

Se juntan algunas de las tablas de DBKpop.

In [ ]:
group_names = pd.concat([df_girl[["name", "short", "korean_name", "gender"]], df_boy[["name", "short", "korean_name", "gender"]]])
singer_names = df_idols[["stage_name", "full_name", "korean_name", "k._stage_name"]]
singer_names.drop_duplicates(keep='first', inplace=True)

In [53]:
display(group_names.head(2))
display(singer_names.head(2))

                name short korean_name     gender
0  girls' generation  snsd        소녀시대  girlgroup
1               kara   NaN          카라  girlgroup

  stage_name    full_name korean_name k._stage_name
2    taeyeon  kim taeyeon         김태연            태연
3      sunny   lee sunkyu         이순규            써니

Tras ver los datos se llega a la conclusión de que en muchas ocasiones Gaon lo que hace es incluir dos nombres, el coreano y el romanizado o el inglés entre paréntesis. Los nombres de los cantantes se limpiarán teniendo esto en cuenta.

Los nombres de los cantantes se separan por paréntesis.

In [54]:
b = a.singer.str.split(r"\(", expand=True)
b["original"] = a.singer
b["new"] = None
a = b
a.head(3)

          0             1     2              original   new
49    방탄소년단          None  None                 방탄소년단  None
52      스윙스       swings)  None           스윙스(swings)  None
57  다이나믹 듀오  dynamic duo)  None  다이나믹 듀오(dynamic duo)  None

In [55]:
a.shape

(907, 5)

In [56]:
a[~a[2].isnull()]

          0           1    2              original   new
2061  이유 갓지  god g)않은이유  박명수  이유 갓지(god g)않은이유(박명수  None
1241  크리스탈            f  x))           크리스탈 (f(x))  None

Hay algunos casos especiales que se cambian manualmente.

In [57]:
a.loc[a.original == "크리스탈 (f(x))", "new"] = "f(x)"
a.loc[a.original == "이유 갓지(god g)않은이유(박명수", "new"] = "god g"
a.drop(2, axis=1, inplace=True)

In [58]:
a[1] = a[1].str.replace(")", "")

In [59]:
a.head(3)

          0            1              original   new
49    방탄소년단         None                 방탄소년단  None
52      스윙스       swings           스윙스(swings)  None
57  다이나믹 듀오  dynamic duo  다이나믹 듀오(dynamic duo)  None

In [60]:
a.drop_duplicates(keep='first', inplace=True)

In [61]:
a[0] = a[0].str.strip()
a[1] = a[1].str.strip()

In [62]:
display(group_names.head(2))
display(singer_names.head(2))

                name short korean_name     gender
0  girls' generation  snsd        소녀시대  girlgroup
1               kara   NaN          카라  girlgroup

  stage_name    full_name korean_name k._stage_name
2    taeyeon  kim taeyeon         김태연            태연
3      sunny   lee sunkyu         이순규            써니

In [63]:
a.shape

(907, 4)

Se va a utilizar el *dataset* de DBKpop de los grupos para conseguir el romanizado o nombre en inglés de los grupos.

In [64]:
b = a.copy()
for l in [0,1]:
    for r in ["name", "short", "korean_name"]:        
        b.loc[b[l].isnull(), l] = 999999
        b = pd.merge(b, group_names, left_on=l, right_on=r, how="left").drop(['short', "korean_name", "gender"], 
                                                                                    axis=1)
        
        b.loc[~b.name.isnull(), "new"] = b.name
        b.drop("name", axis=1, inplace=True)
        b.loc[b[l] == 999999, l] = None
a = b

In [65]:
a.shape

(907, 4)

Se iba a utilizar el *dataset* de DBKpop de los artistas para conseguir el romanizado o nombre en inglés pero hay idols coreanos que tienen el mismo `k._stage_name` y `nombre` por lo que esto no es posible porque puede llevar a errores.

In [66]:
singer_names[singer_names.duplicated('k._stage_name')].head(5)

    stage_name   full_name korean_name k._stage_name
34       minah  bang minah         방민아            민아
78      yeeeun  jang yeeun         장예은            예은
79       hyuna  moon hyuna         문현아            현아
85       sojin    jo sojin         조소진            소진
112      dasom   lee dasom         이다솜            다솜

In [67]:
singer_names[singer_names.duplicated('korean_name')].head(5)

    stage_name      full_name korean_name k._stage_name
155     hyomin  park sunyoung         박선영            효민
163     chahee  park sooyoung         박수영            차희
178      lizzy  park sooyoung         박수영            리지
208       bona     kim jiyeon         김지연            보나
214      seola   kim hyunjung         김현정            설아

In [68]:
singer_names[singer_names.duplicated('korean_name') & singer_names.duplicated('k._stage_name')].head(5)

    stage_name      full_name korean_name k._stage_name
314      jimin     park jimin         박지민            지민
557      subin     park subin         박수빈            수빈
732     jeewon      kim jiwon         김지원            지원
827  seunghyun  lee seunghyun         이승현            승현
854     juyeon     lee juyeon         이주연            주연

In [69]:
singer_names[singer_names['k._stage_name'] == "민혁"]

    stage_name     full_name korean_name k._stage_name
343    minhyuk   lee minhyuk         이민혁            민혁
533    minhyuk  kang minhyuk         강민혁            민혁
918    minhyuk   kim minhyuk         김민혁            민혁

Por este motivo, se elegirá la columna `0` o `1` en función de si se encuentra dicho valor en las tablas DBKPop de las anteriores celdas. Si el nombre no se ha encontrado...
- si la columna `1` está vacía se elige la `0` por defecto.
- si se encuentran letras (a,b,...) se prioriza la columna correspondiente, ya que se prefiere un nombre en inglés o romanizado que en coreano.

In [70]:
for c in singer_names.columns:
     a.loc[~a.new.isnull() & a[1].isin(singer_names.loc[~singer_names[c].isnull(),c]), "new"] = a[1]
     a.loc[~a.new.isnull() & a[0].isin(singer_names.loc[~singer_names[c].isnull(),c]), "new"] = a[0]

In [71]:
a.loc[a.new.isnull() & a[1].isnull(), "new"] = a[0]

In [72]:
a.loc[a.new.isnull() & a[0].str.match(r'[a-z]'), "new"] = a[0]

In [73]:
a.loc[a.new.isnull() & a[1].str.match(r'[a-z]'), "new"] = a[1]

Hay algunos nombres que no han cumplido con lo anterior porque tenían números (4men), se aplica otra regla mediante regex para detectar estos.

In [74]:
a.loc[a.new.isnull()]

          0           1         original   new
30       포맨        4men        포맨 (4men)  None
35      거머리         박명수         거머리 (박명수  None
38     댄싱게놈         유재석         댄싱게놈(유재석  None
51      상주나         정준하          상주나(정준하  None
89      싹쓰리        유두래곤        싹쓰리 (유두래곤  None
125     황태지         황광희          황태지(황광희  None
127    오대천왕         정형돈         오대천왕(정형돈  None
165   으뜨거따시          하하         으뜨거따시(하하  None
177     이진성       먼데이키즈      이진성 (먼데이키즈)  None
195      보람          씨야          보람 (씨야)  None
240  포미닛 투윤       2yoon   포미닛 투윤 (2yoon)  None
244      투빅        2bic        투빅 (2bic)  None
261     타블로        에픽하이       타블로 (에픽하이)  None
264     김예림         투개월        김예림 (투개월)  None
267     김경희     에이프릴세컨드    김경희 (에이프릴세컨드)  None
311       길          리쌍           길 (리쌍)  None
331      미료    브라운아이드걸스    미료 (브라운아이드걸스)  None
363      성훈    브라운아이드소울     성훈(브라운아이드소울)  None
454     데.비     데일리 비타민    데.비 (데일리 비타민)  None
485     국.슈     국프의 핫이슈    국.슈 (국프의 핫이슈)  None
515     투하트        우현&키       투하트 (우현&키)  None
631      수지        미스에이        수지 (미스에이)  None
642      개코     다이나믹 듀오     개코 (다이나믹 듀오)  None
685      일락          一樂          일락 (一樂)  None
692      투빅        2bic         투빅(2bic)  None
739      샵건        #gun        샵건 (#gun)  None
761      40          포티          40 (포티)  None
765      하은       라코스테남       하은 (라코스테남)  None
822      성훈  브라운 아이드 소울  성훈 (브라운 아이드 소울)  None
878     이영현         빅마마        이영현 (빅마마)  None

In [75]:
a.loc[a.new.isnull() & a[1].str.match(r'\d\s?[a-z]+'), "new"] = a[1]

Los artistas que no han cumplido con las reglas anteriores son:

In [76]:
a.loc[a.new.isnull()]

         0           1         original   new
35     거머리         박명수         거머리 (박명수  None
38    댄싱게놈         유재석         댄싱게놈(유재석  None
51     상주나         정준하          상주나(정준하  None
89     싹쓰리        유두래곤        싹쓰리 (유두래곤  None
125    황태지         황광희          황태지(황광희  None
127   오대천왕         정형돈         오대천왕(정형돈  None
165  으뜨거따시          하하         으뜨거따시(하하  None
177    이진성       먼데이키즈      이진성 (먼데이키즈)  None
195     보람          씨야          보람 (씨야)  None
261    타블로        에픽하이       타블로 (에픽하이)  None
264    김예림         투개월        김예림 (투개월)  None
267    김경희     에이프릴세컨드    김경희 (에이프릴세컨드)  None
311      길          리쌍           길 (리쌍)  None
331     미료    브라운아이드걸스    미료 (브라운아이드걸스)  None
363     성훈    브라운아이드소울     성훈(브라운아이드소울)  None
454    데.비     데일리 비타민    데.비 (데일리 비타민)  None
485    국.슈     국프의 핫이슈    국.슈 (국프의 핫이슈)  None
515    투하트        우현&키       투하트 (우현&키)  None
631     수지        미스에이        수지 (미스에이)  None
642     개코     다이나믹 듀오     개코 (다이나믹 듀오)  None
685     일락          一樂          일락 (一樂)  None
739     샵건        #gun        샵건 (#gun)  None
761     40          포티          40 (포티)  None
765     하은       라코스테남       하은 (라코스테남)  None
822     성훈  브라운 아이드 소울  성훈 (브라운 아이드 소울)  None
878    이영현         빅마마        이영현 (빅마마)  None

In [77]:
a.loc[~a[1].isnull() & a[1].str.contains("gun"), "new"] = "#gun"

Se elige la columna `0` como el nuevo nombre.

In [78]:
a.loc[a.new.isnull(), "new"] = a[0]

In [79]:
a.loc[a.new.isnull()]

Empty DataFrame
Columns: [0, 1, original, new]
Index: []

El *dataset* de traducción para los artistas individuales será:

In [80]:
final_mapping = a.drop([0, 1], axis=1)
final_mapping.head(3)

               original          new
0                 방탄소년단          bts
1           스윙스(swings)       swings
2  다이나믹 듀오(dynamic duo)  dynamic duo

El *dataset* de traducción para convertir múltiples artistas en uno solo:

In [81]:
collaboration_mapping.head(3)

                            original                   new
49               방탄소년단, zara larsson                 방탄소년단
52                  스윙스(swings), 에일리           스윙스(swings)
57  다이나믹 듀오(dynamic duo), dj premier  다이나믹 듀오(dynamic duo)

Primero se utilizará `collaboration_mapping` en los valores "singer" que tengan múltiples artistas y luego se usará `final_mapping` sobre el mismo campo.

### Limpiar los artistas de Gaon

In [82]:
df2 = pd.merge(df, collaboration_mapping, left_on='singer', right_on='original', how="left")

In [83]:
df2.loc[df2.new.isnull(), "new"] = df2.singer

In [84]:
df2.drop('original', axis=1, inplace=True)

In [85]:
df2 = pd.merge(df2, final_mapping, left_on='new', right_on='original', how="left")
df2.drop(['new_x', 'original'], axis=1, inplace=True)
df2 = df2.rename(columns={"new_y": "clean_singer"})
df2.head(3)

,title,singer,album,producer,distributor,year_month,is_popular,external_factors,num_times_top_10,num_times_top_5,num_times_top_1,is_collab,clean_singer
0,#첫사랑,볼빨간사춘기,#첫사랑,"쇼파르뮤직, 딩고뮤직",카카오 m,201801-201802-201803,1,0,1,1,0,False,bolbbalgan4
1,#화이트 스타일 (feat. 김호연 of 달 좋은밤),키썸 (kisum),show off,스케치,카카오 m,201507,0,0,0,0,0,True,kisum
2,%%(응응),에이핑크 (apink),percent,플레이엠엔터테인먼트,카카오 m,201901-201902,1,0,0,0,0,False,apink

In [86]:
df2.shape

(3502, 13)

Una vez que se han limpiado y traducido los nombres de los artistas se va a utilizar el API de Spotify para intentar obtener el spotify id correspondiente para posteriormente obtener sus detalles.

## Find songs in Spotify

In [32]:
SPOTIPY_CLIENT_ID='xxxx'
SPOTIPY_CLIENT_SECRET='xxxx'

#https://developer.spotify.com/dashboard/applications/8269427507e44ca4ba3cbd414a76144a

In [33]:
auth_manager = SpotifyClientCredentials(client_id=SPOTIPY_CLIENT_ID, client_secret=SPOTIPY_CLIENT_SECRET)
sp = spotipy.Spotify(auth_manager=auth_manager)

In [ ]:
# Spotify api
cont_si = 0
for index, row in df2.iterrows():
    title = row['title']
    singer = row['clean_singer']
    search=f'{title} artist:{singer}'
    print(index,"/",df2.shape[0]-1)
    track_results = sp.search(q=search, type='track', market='SK', limit=1)
    result_num = track_results['tracks']['total']
    if result_num > 0:
        cont_si += 1
        
    if result_num == 0:
        track_results = sp.search(q=search, type='track', limit=1)
        result_num = track_results['tracks']['total']
        if result_num > 0:
            cont_si += 1
        
        if result_num == 0:
            search=f'{title} {singer}'
            track_results = sp.search(q=search, type='track', limit=1)
            result_num = track_results['tracks']['total']
            if result_num > 0:
                cont_si += 1

    porcentaje = cont_si * 100 / df2.shape[0]
    print(porcentaje, "%")
    print(cont_si,"/",df2.shape[0])
    print()
    for i, t in enumerate(track_results['tracks']['items']):
        df2.loc[index,'spotify_uri'] = t['uri']

In [652]:
# Google search
import requests 
import bs4
from bs4 import BeautifulSoup
import urllib.parse

In [674]:
headers_Get = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Language': 'en-US,en;q=0.5',
        'Accept-Encoding': 'gzip, deflate',
        'DNT': '1',
        'Connection': 'keep-alive',
        'Upgrade-Insecure-Requests': '1'
    }

def google(q):
    spotify_id = ""
    s = requests.Session()
    q = urllib.parse.quote_plus(q)
    url = 'https://www.google.com/search?q=' + q + '&ie=utf-8&oe=utf-8'
    r = s.get(url, headers=headers_Get)
    if r.status_code != 200:
        raise Exception(f"Error scrapping google: {r.text}, {r.status_code}")
    soup = BeautifulSoup(r.text, "html.parser")
    output = []
    soup = soup.find_all('td', {'class': ['ellip','YMAGHf']})
    if soup:
        soup = soup[0]
        url = soup.find('a')["href"] 
        if "open.spotify.com/track/" in url:
            spotify_id = f"spotify:track:{url.split('/track/')[1]}"
            if "?autoplay" in spotify_id:
                spotify_id = spotify_id.split("?autoplay")[0]
        
    return spotify_id

In [ ]:
df_uri_null = df2[df2.spotify_uri.isnull()]
cont = 1
cont_si = 0
for index, row in df_uri_null.iterrows():
    title = row['title'].strip()
    singer = row['singer'].strip()
    search= title + " " + singer
    print(cont,"/",df_uri_null.shape[0])
   
    spotify_id = google(search)
    if spotify_id:
        cont_si += 1
        df2.loc[index, 'spotify_uri'] = spotify_id
        
    porcentaje = cont_si * 100 / df_uri_null.shape[0]
    print(porcentaje, "%")
    print(cont_si,"/",df_uri_null.shape[0])
    print()
    cont += 1

También se ha utilizado el campo limpio del cantante para buscar el grupo en Google.

In [ ]:
df_uri_null = df2[df2.spotify_uri.isnull()]
cont = 1
cont_si = 0
for index, row in df_uri_null.iterrows():
    title = row['title'].strip()
    singer = row['clean_singer'].strip()
    search= title + " " + singer
    print(cont,"/",df_uri_null.shape[0])
   
    spotify_id = google(search)
    if spotify_id:
        cont_si += 1
        df2.loc[index, 'spotify_uri'] = spotify_id
        
    porcentaje = cont_si * 100 / df_uri_null.shape[0]
    print(porcentaje, "%")
    print(cont_si,"/",df_uri_null.shape[0])
    print()
    cont += 1

Habrá canciones que no se hayan encontrado por lo que se revisarán manualmente y se introducirán los identificadores de Spotify correspondientes. 

El 67% de las canciones no se han encontrado de forma automática.

In [433]:
df2[df2.spotify_uri.isnull()].shape

(2367, 4)

In [443]:
round(100/df2.shape[0]*(df2[df2.spotify_uri.isnull()].shape[0]),1)

67.6

In [705]:
df2.to_csv("tmp/songs.csv", sep=";", index=False)

Tras haber introducido manualmente los enlaces de Spotify faltantes y haber borrado aquellas canciones que no se encontraban en Spotify se comprueba el tamaño de los datos.

In [3]:
df2 = pd.read_csv("tmp/songs.csv", sep=";")

In [ ]:
df2.drop(['clean_singer'], axis=1, inplace=True)

In [451]:
df2.to_csv("tmp/songs.csv", sep=";", index=False)

In [89]:
df2.head(2)

,title,singer,album,producer,distributor,year_month,is_popular,external_factors,num_times_top_10,num_times_top_5,num_times_top_1,is_collab,spotify_uri
0,#첫사랑,볼빨간사춘기,#첫사랑,"쇼파르뮤직, 딩고뮤직",카카오 m,201801-201802-201803,1,0,1,1,0,False,spotify:track:4tKN17Kw29gzlnZwMaAtZN
1,#화이트 스타일 (feat. 김호연 of 달 좋은밤),키썸 (kisum),show off,스케치,카카오 m,201507,0,0,0,0,0,True,spotify:track:1LrcLQ3pTFz7yafs0a2sds

In [71]:
df2.shape

(3070, 13)

In [27]:
df2[df2.spotify_uri.isnull()].shape

(0, 13)

Se comprueba que no haya duplicados.

In [90]:
duplicated = df2[df2.duplicated()]
duplicated

Empty DataFrame
Columns: [title, singer, album, producer, distributor, year_month, is_popular, external_factors, num_times_top_10, num_times_top_5, num_times_top_1, is_collab, spotify_uri]
Index: []

In [91]:
duplicated_spotify_uri = df2[df2.spotify_uri.duplicated()]
duplicated_spotify_uri

Empty DataFrame
Columns: [title, singer, album, producer, distributor, year_month, is_popular, external_factors, num_times_top_10, num_times_top_5, num_times_top_1, is_collab, spotify_uri]
Index: []

In [92]:
df2[df2[['title', 'singer']].duplicated()]

Empty DataFrame
Columns: [title, singer, album, producer, distributor, year_month, is_popular, external_factors, num_times_top_10, num_times_top_5, num_times_top_1, is_collab, spotify_uri]
Index: []

----------------------------------------

## Spotify API

Una vez que se tienen las canciones con el link correspondiente de Spotify, se procede a utilizar el servicio _Spotify API_ para ampliar los datos de los que se dispone.

La API de _Spotify_ especifica que solo se pueden obtener 50 canciones a la vez, por lo que se obtendrá la información de 50 en 50.

In [164]:
df2.spotify_uri = df2.spotify_uri.str.replace("spotify:track:", "")
df2.spotify_uri.head()

0    4tKN17Kw29gzlnZwMaAtZN
1    1LrcLQ3pTFz7yafs0a2sds
2    4SpQDJz1JiRT2mHxvyqN9K
3    4AlihYDqxXshKhvh5tnMfP
4    7HKDOS7RKlnUkluAY23oga
Name: spotify_uri, dtype: object

In [72]:
num_songs = df2.shape[0]
num_songs

3070

In [34]:
def extract_songs_basic_info(basic_info, track_info):
    # https://developer.spotify.com/documentation/web-api/reference/tracks/get-several-tracks/
    singers = "-sep-".join([x['name'].lower() for x in track_info["artists"]])
    singers_id = "-sep-".join([x['id'] for x in track_info["artists"]])
    basic_info['singer'].append(singers)
    basic_info['singer_id'].append(singers_id)
    basic_info['album_type'].append(track_info["album"]["album_type"])
    basic_info['release_date'].append(track_info["album"]["release_date"])
    basic_info['duration_ms'].append(track_info["duration_ms"])
    basic_info['explicit'].append(track_info["explicit"])
    
    # check size of dict
    size = len(basic_info["album_type"])
    if len(basic_info["release_date"]) != size or \
                                                    len(basic_info["duration_ms"]) != size or \
                                                    len(basic_info["explicit"]) != size or \
                                                    len(basic_info["singer"]) != size or \
                                                    len(basic_info["singer_id"]) != size:
        raise Exception(f"Distinct size for {track_info}")
        

def extract_songs_audio_info(audio_info, track_info):
    # https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/
    size = None
    for k,v in track_info.items():
        if k in audio_info.keys():
            audio_info[k].append(v)
            current_size = len(audio_info[k])
            if not size:
                size = current_size
            else:
                if size != current_size:
                    raise Exception(f"Distinct size for {track_info}")

# get song info
basic_info = {
    # basic
    "singer": [],
    "singer_id": [],
    "album_type":  [],
    "release_date": [],
    "duration_ms": [],
    "explicit": [],
}

audio_info = {
    # audio features
    "acousticness": [],
    "danceability": [],
    "energy": [],
    "instrumentalness": [],
    "liveness": [],
    "loudness": [],
    "speechiness": [],
    "valence": [],
    "tempo": []
}
            
# SPOTIFY API
for i in list(range(50, num_songs+50, 50)):
    # conseguir información de las canciones de 50 en 50
    to_row = min(i, num_songs)
    from_row = i-50    
    print(f"starting  from {from_row} to {to_row}...")
    
    batch_ids = df2.spotify_uri[from_row:to_row].to_list()
    
    print("get songs basic info")
    tracks_info = sp.tracks(batch_ids) # max 50
    print("extract basic info")
    list(map(lambda t:extract_songs_basic_info(basic_info, t), tracks_info["tracks"]))
    
    print("get songs audio features")
    tracks_info = sp.audio_features(batch_ids) # max 50
    print("extract audio info")
    list(map(lambda t:extract_songs_audio_info(audio_info, t), tracks_info))
    
    print("#"*50)
    
print("adding info to dataframe")
# add info to dataframe
info = {**basic_info, **audio_info}
for k,v in info.items():
    df2[k] = pd.Series(v)

starting  from 0 to 50...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 50 to 100...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 100 to 150...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 150 to 200...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 200 to 250...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 250 to 300...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 300 to 350...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 350 to 400...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 400 to 450...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 450 to 500...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 500 to 550...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 550 to 600...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 600 to 650...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 650 to 700...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 700 to 750...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 750 to 800...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 800 to 850...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 850 to 900...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 900 to 950...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 950 to 1000...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1000 to 1050...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1050 to 1100...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1100 to 1150...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1150 to 1200...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1200 to 1250...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1250 to 1300...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1300 to 1350...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1350 to 1400...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1400 to 1450...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1450 to 1500...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1500 to 1550...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1550 to 1600...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1600 to 1650...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1650 to 1700...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1700 to 1750...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1750 to 1800...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1800 to 1850...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1850 to 1900...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1900 to 1950...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 1950 to 2000...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2000 to 2050...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2050 to 2100...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2100 to 2150...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2150 to 2200...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2200 to 2250...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2250 to 2300...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2300 to 2350...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2350 to 2400...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2400 to 2450...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2450 to 2500...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2500 to 2550...
get songs basic info
extract basic info
get songs audio features

extract audio info
##################################################
starting  from 2550 to 2600...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2600 to 2650...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2650 to 2700...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2700 to 2750...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2750 to 2800...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2800 to 2850...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2850 to 2900...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2900 to 2950...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 2950 to 3000...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 3000 to 3050...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
starting  from 3050 to 3070...
get songs basic info
extract basic info
get songs audio features
extract audio info
##################################################
adding info to dataframe

In [103]:
df2.to_csv("tmp/songs.csv", index=False, sep=";")

## Atributos

In [74]:
df2.columns

Index(['title', 'singer', 'album', 'producer', 'distributor', 'year_month',
       'is_popular', 'external_factors', 'num_times_top_10', 'num_times_top_5',
       'num_times_top_1', 'is_collab', 'spotify_uri', 'album_type',
       'release_date', 'duration_ms', 'explicit', 'acousticness',
       'danceability', 'energy', 'instrumentalness', 'liveness', 'loudness',
       'speechiness', 'valence', 'tempo', 'singer_id', 'is_ost'],
      dtype='object')

In [75]:
df2.head().T

,0,1,2,3,4
title,#첫사랑,#화이트 스타일 (feat. 김호연 of 달 좋은밤),%%(응응),00_00 (zero o`clock),0330
singer,bol4,kisum,apink,bts,u-kiss
album,#첫사랑,show off,percent,map of the soul _ 7,bran new kiss (ep)
producer,"쇼파르뮤직, 딩고뮤직",스케치,플레이엠엔터테인먼트,빅히트 엔터테인먼트,nh emg
distributor,카카오 m,카카오 m,카카오 m,dreamus,카카오 m
year_month,201801-201802-201803,201507,201901-201902,202003-202004-202005,201105
is_popular,1,0,1,1,0
external_factors,0,0,0,0,0
num_times_top_10,1,0,0,0,0
num_times_top_5,1,0,0,0,0
num_times_top_1,0,0,0,0,0
is_collab,False,True,False,False,False
spotify_uri,4tKN17Kw29gzlnZwMaAtZN,1LrcLQ3pTFz7yafs0a2sds,4SpQDJz1JiRT2mHxvyqN9K,4AlihYDqxXshKhvh5tnMfP,7HKDOS7RKlnUkluAY23oga
album_type,single,single,single,album,single
release_date,2018-01-10,2015-06-17,2019-01-07,2020-02-21,2011-03-30
duration_ms,207495,191805,208104,250295,209188
explicit,False,False,False,False,False
acousticness,0.605,0.059,0.294,0.0802,0.142
danceability,0.568,0.696,0.647,0.566,0.698
energy,0.646,0.93,0.855,0.548,0.641
instrumentalness,0,0,0,0,0
liveness,0.131,0.194,0.137,0.11,0.0823
loudness,-3.418,-3.5,-2.944,-6.456,-4.763
speechiness,0.0406,0.172,0.037,0.0579,0.0705
valence,0.395,0.825,0.683,0.196,0.496
tempo,77.927,91.96,144.867,157.999,86.028
singer_id,4k5fFEYgkWYrYvtOK3zVBl,1CArfopvfCxakFJHup55FW,2uWcrwgWmZcQc3IPBs3tfU,3Nrfpe0tUJi4K4DXYWgMUX,2GB76Lm833jVI5kLvKEB7Z
is_ost,0,0,0,0,0

Algunas comprobaciones...

In [76]:
df2.query('(num_times_top_10>1 or num_times_top_5>1 or num_times_top_1>1) and is_popular==0')

Empty DataFrame
Columns: [title, singer, album, producer, distributor, year_month, is_popular, external_factors, num_times_top_10, num_times_top_5, num_times_top_1, is_collab, spotify_uri, album_type, release_date, duration_ms, explicit, acousticness, danceability, energy, instrumentalness, liveness, loudness, speechiness, valence, tempo, singer_id, is_ost]
Index: []

[0 rows x 28 columns]

In [77]:
df2.query('external_factors== 1 and is_popular==0')

Empty DataFrame
Columns: [title, singer, album, producer, distributor, year_month, is_popular, external_factors, num_times_top_10, num_times_top_5, num_times_top_1, is_collab, spotify_uri, album_type, release_date, duration_ms, explicit, acousticness, danceability, energy, instrumentalness, liveness, loudness, speechiness, valence, tempo, singer_id, is_ost]
Index: []

[0 rows x 28 columns]

### Feat

Este atributo ya se ha creado anteriormente. Las canciones tendrán el atributo `is_collab` como True si:
- Feat o duet en título (en parte realizado en un apartado previo)
- “,” o “ & “ en artista (ya realizado en un apartado previo)

In [78]:
df2.loc[df2.title.str.contains("duet"), "is_collab"] = True

### Album type

In [4]:
df2.album_type.value_counts()

single         1605
album          1252
compilation     215
Name: album_type, dtype: int64

### OST

In [105]:
is_ost_index = df2[df2.album.str.contains(r'(.\s|^)ost(\s.|$)')].index
is_ost_index = is_ost_index.union(df2[df2.title.str.contains(r'(.\s|^)ost(\s.|$)')].index)
df2.iloc[is_ost_index][["title", "singer", "album"]].head(3)

C:\Users\Paula\Anaconda3\envs\deeplearning\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,title,singer,album
43,a brand new day (bts world ost part.2),bts-sep-zara larsson,a brand new day (bts world ost part.2)
52,always,yoon mirae,태양의 후예 ost part 1
63,and i`m here,kim kyung hee,도깨비 ost part 11

In [106]:
df2['is_ost'] = 0
df2.loc[is_ost_index, "is_ost"] = 1

### Tv show

In [30]:
reality_tv_shows = ["k팝 스타", "슈퍼스타k", "쇼미더머니", "무한도전",  
                    "언프리티 랩스타", "고등래퍼", "나는 가수다", "복면가왕", "produce"]

In [35]:
df2["for_reality_tvshow"] = 0
for r in reality_tv_shows:
    df2.loc[df2.album.str.contains(r), "for_reality_tvshow"] = 1

In [40]:
df2.to_csv("tmp/songs.csv", sep=";", index=False)